<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vendstor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Vendstor.Properties.Settings>
            <setting name="IsNewUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoftColor" serializeAs="String">
                <value>81, 103, 188</value>
            </setting>
            <setting name="SoftLocale" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="CustomConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreId" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Store" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FtpAccountString" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionCredentials" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximizeSoftware" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPrinterAvailable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppBasedScanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSoldByEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTranslationPossible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoreTaxID" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptFooterMessage" serializeAs="String">
                <value />
            </setting>
        </Vendstor.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>